body{
	padding:0;
	margin:0;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	text-align:justify;
	color:#2d2d2d;
	text-shadow: 2px 2px 5px #FFF;
	min-width:1010px;
}

h2{
	color: #900;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 19px;
}

a{
	color: #981E32;
	text-decoration: none;
	cursor: auto;
}

a:hover{
	color: #981E32;
	text-decoration: underline;
	cursor: pointer;
}


.headerLine{
	background-color:#981e32;
	height:6px;
}

#pageContainer{
	width:1000px;
	margin:0 auto;
}

#header{
}

#footer{
	background-color:#2d2d2d;
	height:100px;
}

#footerLinks{
	background-color:#4a4a4a;
	text-shadow: 2px 2px 5px #4a4a4a;
	color:#dbd8d8;
	text-align:center;
	overflow:auto;

}

#footerLinks a{
	background-color:#4a4a4a;
	text-shadow: 2px 2px 5px #4a4a4a;
	color:#dbd8d8;
	text-decoration:none;
	padding:5px 25px 5px 25px;
	display:inline-block;
}

#footerLinks a:hover{
	color:#FFF;
}

#footerTerms{
	width:1000px;
	margin:0 auto;
	text-shadow: 2px 2px 5px #2d2d2d;
	color:#898888;
	padding-top:10px;
}

#footerTerms a{
	color:#898888;
	text-decoration:none;
	padding:0 15px 0 15px;
}

#footerTerms a:hover{
	color:#fff;
}

.left{
	float:left;
}

.right{
	float:right;
}


.mainMenu{
	color:#2d2d2d;
	font-family:"Century Gothic", Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:16px;
	height:72px;
}

.mainMenu img{
	float:left;
}

.mainMenu ul{
	float:right;
	margin-right:20px;
}

.mainMenu li{
	list-style:none;
	margin-top:34px;
	float:left;
	margin-left:42px;
}

.mainMenu li a{
	color:#2d2d2d;
	text-decoration:none;
}

.mainMenu li a:hover{
	color:#981e32;
	text-decoration:none;
}

.mainMenu li a.active{
	color:#981e32;
	text-decoration:none;
	border-bottom:2px solid #981e32; 
}


.banner{
	margin-top:270px; width:1000px; height:247px;
	position:relative;
}

.banner img{
	position:absolute;
	top:7px;
	left:0;
}

.bannerImages{
	position:relative;
}

.bannerLeft{
	width:8px;
	height:243px;
	background-image:url(../res/images/banner_shadow_left.jpg);
	background-repeat:repeat-y;
	margin-left:-8px;
	margin-top:-243px;
}

.bannerBG{
	background-image:url(../res/images/banner_bg.jpg);
	background-repeat:no-repeat;
	width:1020px;
	margin-left:-10px;
	height:250px;
	margin-top:-250px;
}

.crumbar{
	height:31px;
	background-image:url(../res/images/crumbarBG.jpg);
	background-repeat:repeat-x;
	text-align:right;
	padding-right:10px;
	color:#e5e5e5;
	font-family:"Century Gothic", Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	padding-top:8px;
	text-shadow: 2px 2px 5px #4a4a4a;
}

.crumbar img{
	margin-top:-5px;
	float:right;
}

.crums{
	float:right;
}

.crumbar span{
	background: url(../res/images/crum_title.jpg) -260px -8px;
	width: 20px;
	height: 10px;
	display: inline-block;
}


.crumbar a{
	text-decoration:none;
	color:#e5e5e5;
	
}

.crumbar a:hover{
	color:#FFF;
}

/************* PAGE ************/

#pageContent{
	overflow:auto;
	background-image:url(../res/images/page_image_BG.jpg);
	background-repeat:repeat-y;
}

#pageLeft{
	width:297px;
	float:left;
}

#pageLeft div{
	margin-left:22px;
	background-image:url(../res/images/page_image_shadow_bottom.jpg);
	width:264px;
	overflow:hidden;
	background-position:bottom;
	background-repeat:repeat-x;
	padding-bottom:9px;
}

#pageLeft div img{
	border-top:solid 1px #d4d3d3;
}

#pageMiddle{
	float:left;
	width:447px;
	line-height:16px;
	padding:2px 30px 30px 23px;
	min-height:500px;
}

#pageTitle{
	padding:38px 0 38px 0;
	font-size:24px;
	font-family:"Century Gothic", Arial, Helvetica, sans-serif;
}

#pageRight{
	float:right;
	margin-top:98px;
	background-color:#4a4a4a;
	text-shadow: 2px 2px 5px #4a4a4a;
	width:200px;
}

#pageRight ul {
	margin:0;
	padding:0;
}

#pageRight li {
	list-style:none;
	text-align:right;
}

#pageRight li a{
	
	color:#ededed;
	text-align:right;
	text-decoration:none;
	font-size:14px;
	font-family:"Century Gothic", Arial, Helvetica, sans-serif;
	width:170px;
	display:inline-block;
	padding:7px 30px 7px 0;
}

#pageRight li a:hover{
	background-color:#a9a8a8;
	text-shadow: 2px 2px 5px #a9a8a8;
	color:#981e32;
}

#pageRight li a.active{
	background-color:#981e32;
	text-shadow: 2px 2px 5px #981e32;
	color:#ededed;
	border-bottom:1px solid #FFF;
	border-top:1px solid #FFF;
	padding:6px 30px 6px 0;
}

.newsThumb{
	margin-left:-298px;
	background-image:url(../res/images/page_image_shadow_bottom.jpg);
	width:264px;
	overflow:hidden;
	background-position:bottom;
	background-repeat:repeat-x;
	padding-bottom:9px;
	position:absolute;
}

.newsThumb img{
	border-top:solid 1px #d4d3d3;
}

.newsPost{
	position:relative;
	text-decoration:none;
	display:block;
	color:#2D2D2D;
	height:160px;
	margin-bottom:25px;
	border-bottom:1px solid #CCC;
}

.newsPost:hover .newsTitle{
	text-decoration:underline;
}

.newsTitle{
	text-decoration: none;
	color:#981E32;
	font-size: 16px;
	font-family: "Century Gothic", Arial, Helvetica, sans-serif;
}

.newsDate{
	padding-top: 5px;
	font-style: italic;
	color: #888;
}

.mediaList{
	list-style: none;
	margin-left: -40px;
}



.mediaList a{
	text-decoration:none;
	color:#2D2D2D;
}

.mediaList a:hover{
	text-decoration:none;
	color:#981E32;
}

.mediaAuthor{
	font-style:italic;
	color:#555;
}