/* CSS Document */

/*** Common BEING ***/
.errorBar{
	background-color:#900;
	color:#FFE;
	height:20px;
	border-bottom: 1px solid #E5E5E5;
	-moz-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
	-webkit-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
	box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
	text-align:center;
	padding:2px;
	padding-top:4px;
	z-index:10000;
}


.infoBar{
	background-color:#999;
	color:#FFE;
	height:20px;
	border-bottom: 1px solid #E5E5E5;
	-moz-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
	-webkit-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
	box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
	text-align:center;
	padding:2px;
	padding-top:4px;
	z-index:10000;
}

.btnHolder{
	float:right;
}

#activityBar{
	bottom:0;
	position:fixed;
	background-color:#CCC;
	padding:3px 10px 3px 30px;
	right:0;
	text-align:right;
	opacity:0;
	border-top-left-radius: 5px 5px;
	border:1px solid #BBB;
}


#sortable { list-style-type: none; margin: 0; padding: 0;  }
#sortable li { 
	margin: 0 3px 3px 3px; 
	padding: 0.4em; 
	padding-left: 1.5em; 
	height: 18px; 
	background:#e6e6e6;
	border:#000;
	-webkit-box-shadow: none; 
	padding-top:3px;
}

#sortable li:hover{
	
	background: #E6E6E6/*{bgColorDefault}*/ url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png)/*{bgImgUrlDefault}*/ 50%/*{bgDefaultXPos}*/ 50%/*{bgDefaultYPos}*/ repeat-x/*{bgDefaultRepeat}*/;
	-moz-box-shadow: inset 0 0 10px #CCC;
	-webkit-box-shadow: inset 0 0 10px #CCC;
	box-shadow: inner 0 0 10px #CCC; 
}


#sortable li:hover span{
	width: 16px;
	height: 16px;
	background-image: url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/images/ui-icons_888888_256x240.png)/*{iconsDefault}*/;
	background-position: 0px -224px;
	cursor:all-scroll;
}

#sortable li:hover input{
	
	opacity:1;
	background: -webkit-linear-gradient(#FAFAFA, gainsboro);
	-webkit-box-shadow: inset 0 1px 2px white, 0 1px 2px rgba(0, 0, 0, .2);
	border: 1px solid #A0A0A0;

}

#sortable li:hover .pageEditBtn{
	
	opacity:1;

}

#sortable li input{
	padding-top:3px;
	margin-top:-1px;
	background:none;
	-webkit-box-shadow:none;
	border:0;

}
	
#sortable li span { position: absolute; margin-left: -1.3em; margin-top:2px;  }


.title{
	padding:20px;
	font-size:24px;
	font-family: "Century Gothic", Arial, Helvetica, sans-serif;
	background-color:#FFF;
	-webkit-box-shadow: inset 0 -10px 6px -6px #DDD;
	margin-bottom:15px;
}

.title input{
	border:0;
	font-size:24px;
	font-family: "Century Gothic", Arial, Helvetica, sans-serif;
	background-color:#FFF;
	
}



.sideBar{
	background-image:url(http://accounts.nyx.com.mt/Content/Images/slidebarbackground.jpg);
	position:fixed;
	left:0;
	bottom:0;
	top:0;
	width:250px;
	overflow-y:auto;
	overflow-x:hidden;
	background-color: cadetblue;
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(85,85,85,0.3);
    border-radius: 10px;
	background-color:#555;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(33,33,33,0.5);
	background-color:#DDD;
}

.page{
	margin-left:250px;
	overflow:auto;
}

.pageContainer{
	width:100%;
	
}
/*** Common END ***/

/*** Login BEING ***/

#loginBox form{
	
	margin-left: 8px;
	padding: 26px 24px 46px;
	font-weight: normal;
	background: white;
	border: 1px solid #E5E5E5;
	-moz-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
	-webkit-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
	box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;

}

#loginBox {
	width: 320px;
	padding: 114px 0 0;
	margin: auto;
}

.loginInput{
	width:250px;
	margin:5px 50px 30px 0px;
	height:25px;
	border-radius:3px;
}

#loginSubmit{
	width:100px;
	margin-left:75px;
	height:30px;
}


/*** Login END ***/

/*** SideBar BEING ***/

.sideBar ul{
	margin-left:-25px;
}

.sideBar ul li{
	list-style:none;
	padding:4px;
	padding-left:8px;
	
}

.sideBar ul li a{
	font-family:"Century Gothic", Arial, Helvetica, sans-serif;
	color:#CCC;
	
	font-size:14px;
	text-decoration:none;
}

.sideBar ul li a:hover{
	color:#EEE;
	
}

.sideSelect{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.sideSelect a{
	color:#333 !important;
	font-weight:bold;
}

.sideBar img{
	width:170px;
	margin:40px;
}


#sideImage_title{
	color:#EEE;
	font-size:14px;
	font-weight:bold;
	margin:5px;
}



.side_images img{
	width:auto;
	margin:0;
	border:#333 solid 1px;
}

.side_images{
	margin:0 !important;
	width:205px;
	list-style:none;
	min-height:50px;
	border:#CCC solid 1px;
	background-color:#666;
	background-image:url(../res/images/media_noitems.jpg);
	background-repeat:no-repeat;
}
.side_images li {
	
	margin-left:-40px !important;
	padding:5px;
	background-color:#AAA;
	border:#222 solid 1px;
}

.side_images li:hover .sideMedia_remove{
	display:block;
}

.side_images li:hover {
	background-color:#9CF;
}

.side_images div {
	float:right;
	width:180px;
	margin-top:10px;
}

.side_images div span{
	 float:left;
}

.sideMedia_remove{
	float:right !important;
	display:none;
	cursor:pointer;
}

#dialog-media-browser{
	position:relative;
	margin:0;
	padding:0;
}

#dialog-media-browser iframe {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	height:100%;
}

.dialog-media-browser{
	position:relative;
	margin:0;
	padding:0;
}

.dialog-media-browser iframe {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	height:100%;
}

.sideMediaTitle{
		
	width: 100px;
	display: inline-block;
	overflow: hidden;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	white-space: nowrap;
}

.side_images li img{
	max-height:45px;
	max-width:45px;
}



/*** SideBar END ***/

/*** Pages BEING ***/
.pageMsg{
	text-align:center;
	margin-top:50px;
	color:#666;
}

#pageCreate{
	width:300px;
	margin:0 auto;
	padding-top:50px;
}

#pageCreate label{
	display:block;
	height:50px;
}

#pageCreate select{
	width:200px;
	float:right;
	margin-top:-2px;
}


#pageCreate input[type=submit]{
	width:150px;
	float:none;
	margin:0 auto;
	margin-left:72px;
}

#pageCreate input{
	width:195px;
	float:right;
	margin-top:-5px;
}

.pageEditBtn{
	float:right;
	color:#999 !important;
	font-style:italic;
	margin-right:20px;
	margin-top:2px;
	opacity:0;
}

.pageEditBtn:hover{
	float:right;
	color:#555 !important;
	font-style:normal;
	margin-right:20px;
	margin-top:2px;
	opacity:1;
}

.pageTitleBtn{
	width:100%;
}

#contentEditor{
	bottom:0;
	position:absolute;
	height:600px;
}

/*** Page View END ***/


/*** Media BEGIN ***/

#feedback { font-size: 1.4em; }
	#selectable .ui-selecting { background: #FECA40; }
	#selectable .ui-selected { background: #F39814; color: white; }
	#selectable { list-style-type: none; margin: 0; padding: 0; }
	#selectable li { margin: 3px; padding: 1px; float: left; width: 150px; height: 170px;  text-align: center; position:relative; }
	
#selectable li.album{
	background: #FBFBFB !important; 
	border:0;
	color: #333;
}

.media_title{
	width:150px;
	overflow:hidden;
	text-overflow: ellipsis;
	display:block;
	text-align:center;
}

.media_infoBtn{
	width: 20px;
	height: 20px;
	background-image:url(../res/images/info.png);
	background-repeat:no-repeat;
	position: absolute;
	top: 5px;
	right: -5px;
	z-index:25000;
	display:none;
}

#selectable li:hover .media_infoBtn{
	display:block;
}

#mediaInfo{
	width:300px;
	margin:0 auto;
	padding-top:50px;
}

#mediaInfo label{
	display:block;
	height:50px;
}

#mediaInfo select{
	width:200px;
	float:right;
	margin-top:-2px;
}


#mediaInfo input[type=submit]{
	width:150px;
	float:none;
	margin:0 auto;
	margin-left:72px;
}

#mediaInfo input{
	width:195px;
	float:right;
	margin-top:-5px;
}

#mediaInfo button{
	margin-left:100px;
}

#dialog-media-info iframe {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	height:100%;
}


	
/*** Media END ***/