/* CSS Document */



body {
	font-family:Arial, Helvetica, sans-serif;
	color:#454543;
	font-size:13px;
	overflow:auto !important;
	background-color:#FBFBFB;
}

#main_menu{
	
	background-image:url(Images/arc_top_bg.jpg);
	background-repeat:repeat-x;
	background-position:center top;
	height:175px;
}

#arc_top
{
    background-image:url(Images/arc_top.jpg);
	background-position:center top;
	background-repeat:no-repeat;
	height:120px;
	width:800px;
	padding-left:200px;
	padding-top:60px;
	font-size:22px;
	font-style:italic;
	margin:0 auto;
	position: relative;
}

#page_container{
	width:1000px;
	margin:0 auto;
	padding:10px;
}

#page_title{
	font-size:24px;
	color:#383837;
	padding:15px;
	padding-left:0px;
}

.readonly input, .readonly textarea, .readonly select, .readonly .token-input-list,.readonly li.token-input-token {
	border: 1px solid #FFF !important;
	background:none !important;
	-webkit-box-shadow:none;
	resize:none;
	-webkit-appeararnce:none;
}

.readonly .input_example{
	opacity:0;
}

.readonly input[type=submit]
{
    display:none;
}



#page_title input{
	border: 1px solid #FFF;
	color:#333;
	width:912px;
}

#page_title input:hover{
	-webkit-box-shadow: inset 0 1px 2px white,
        0 1px 2px rgba(0, 0, 0, .2),
        0 0 1px #c0c0c0,
        0 0 1px #c0c0c0,
        0 0 1px #c0c0c0;
}

#page_title input:focus{
	-webkit-box-shadow: inset 0 1px 2px white,
        0 1px 2px rgba(0, 0, 0, .2),
        0 0 1px #c0c0c0,
        0 0 1px #c0c0c0,
        0 0 1px #c0c0c0;
    -webkit-transition: border-color 200ms;
    /* We use border color because it follows the border radius (unlike outline).
    * This is particularly noticeable on mac. */
    border-color: #4080fa;
    outline: none;
}

#page_content{
	padding-top:20px;
}

.one_row{
	height:55px;
	width:999px;
}

.two_rows{
	height:110px;
	width:999px;
}

.three_rows{
	height:165px;
	width:999px;
}


.five_rows{
	height:275px;
	width:999px;
}

.input_label_pair{
	width:480px;
	float:left;
	margin-bottom:7px;
}

.editor-label{
	float:left;
	width:115px;
	padding-top:8px;
}

.editor-field{
	float:left;
	width:320px;
}

.editor-field input{ 

	width: 320px;
  	height:22px;
}
.editor-field textarea{
	width:320px;
	max-width:320px;
	padding:3px;
	border:1px solid #9A9DA4;
	font-family:Arial, Helvetica, sans-serif;
	color:#454543;
	font-size:13px;
	height:170px;
	margin-bottom:-7px;
}

.editor-field select
{
    width: auto;
    min-width: 200px;
}

.editor-field input[type="checkbox"]
{
    margin-top:4px;
}

#suggested_relations
{
    height: 150px;
    border: 1px solid #9A9DA4;
    margin:0;
    padding:3px;
    width:220px;
    float:left;
}

.suggested_label
{
    margin-bottom: 5px;
    display: inline-block;
}

i.nput_example_suggestions
{
    margin-top:90px;
}

#explicit, #implicit, #transitive
{
    margin:0 8px;
}

#explicit
{
    background: -webkit-linear-gradient(#FAFAFA, #f0d0d1) !important;
    border: 1px solid #a1615f;
}

#implicit
{
    background: -webkit-linear-gradient(#FAFAFA, #c0d7c3) !important;
    border: 1px solid #5ca063;
}

#transitive
{
    background: -webkit-linear-gradient(#FAFAFA, #f5dfc7) !important;
    border: 1px solid #c48f3f;
}


#realtions_container .token-input-list
{
    height: 150px !important;
}

#realtions_container .token-input-token
{
    width:314px;
    background-color:#EFF2F7;
    border: 1px solid #CCD5E4;
    margin-bottom: 0;
    margin-top: 2px;
}


#realtions_container .token-input-delete-token
{
    float:right;
}


.autocomplete_relations 
{
    height: 150px !important;
}

.editor-field .token-input-list
{
    width:326px;
}

.editor-field ul.token-input-list li input
{
    margin:0;
}

div.token-input-dropdown
{
    width:326px !important; 
}

.editor-field li.token-input-token 
{
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    font-family:Arial, Helvetica, sans-serif;
	color:#000;
	font-size:13px;
	padding:2px;
	background-color:#FFF;
	border: 1px solid #FFF;
}

.editor-field .token-input-list
{
    border:1px solid #9A9DA4;
}

.editor-field .selected
{
    -webkit-box-shadow: inset 0 1px 2px white,
        0 1px 2px rgba(0, 0, 0, .2),
        0 0 1px #c0c0c0,
        0 0 1px #c0c0c0,
        0 0 1px #c0c0c0;
    -webkit-transition: border-color 200ms;
    /* We use border color because it follows the border radius (unlike outline).
    * This is particularly noticeable on mac. */
    border-color: #4080fa;
    outline: none;
}

/*** BEGIN Tokenization over-rides ***/
.editor-field li.token-input-token span
{
    opacity:0;
}

.editor-field li.token-input-token:hover
{
    background-color:#EFF2F7;
    border: 1px solid #CCD5E4;
    
}

.editor-field li.token-input-token:hover span
{
    opacity:1;
}


div.token-input-dropdown ul li.token-input-selected-dropdown-item {
     background-color: #4080fa !important;
   /* background:#EBEBEB -webkit-linear-gradient(#FEFEFE, #F8F8F8 40%, #E9E9E9);
    color: #333; */
}

div.token-input-dropdown p {
    padding: 3px;
}

/*** END Tokenization over-rides ***/

.input_example{
	color:#8e8e8c;
	font-size:10px;
	font-style:italic;
	padding:2px;
}

.required_marker{
	color:#FF0000;
	width:8px;
	display:block;
	float:left;
}

.action_btn
{
    background: -webkit-linear-gradient(#679cbc, #306b8b) !important;
    padding:8px;
    color:#d6e3ec !important;
    padding: 5px 20px !important;
}

.action_btn:hover
{
    background: -webkit-linear-gradient(#3baae8, #306b8b) !important;
    padding:8px;
    color:#FFF !important;
    cursor:pointer;
    -webkit-box-shadow: inset 0 1px 2px white,
        0 1px 2px rgba(0, 0, 0, .2),
        0 0 1px #c0c0c0,
        0 0 1px #c0c0c0,
        0 0 1px #c0c0c0;
}

#edit_submit_btn
{
    margin:0 auto;
    margin-top:25px;
    margin-left:450px;
    display:block;
}

#media_container
{
   border: 1px solid #9A9DA4;
   min-height: 130px;
   width:500px;
}

/*** BEGIN Search ***/

#search_adv
{
    width: 450px;
    margin: 0 auto;
    padding-bottom: 50px;
    
}

#full_search
{
    width: 450px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.seperator
{
    width: 990px;
    margin: 0 auto;
    height:2px;
    border-bottom: 1px solid #9A9DA4;
    margin: 25px 10px;
}


/*** END Search  ***/

/*** BEGIN Listing  ***/

#searchFooter{
    background:#EBEBEB -webkit-linear-gradient(#FEFEFE, #F8F8F8 40%, #E9E9E9);
    padding: 5px;
    border-top:1px solid #CCD5E4;
}

.searchResult
{
    min-height:150px;
    display:block;
    border-bottom:1px solid #CCD5E4;
    padding:15px;
    text-decoration:none;
    color:#454543;
}

.searchResult:hover
{
    background:#EBEBEB -webkit-linear-gradient(#FEFEFE, #F8F8F8 40%, #E9E9E9);
}

/*** END Listing  ***/

/* Copyright (c) 2011 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.margin-box {
  background-color: #2a2a2a;
  border: 1px solid #888;
  box-sizing: border-box;
  color: white;
  cursor: auto;
  font-family: arial;
  font-size: 10px;
  height: 25px;
  left: 50%;
  padding: 5px 10px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 60px;
}

.margins-ui-pair.top .margin-box,
.margins-ui-pair.bottom .margin-box {
  /* -width / 2 + 1 for the margin border */
  margin-left: -30px;
}

.margins-ui-pair.left .margin-box,
.margins-ui-pair.right .margin-box {
  /* -height / 2 */
  margin-top: -12px;
}

.margins-ui-pair.bottom .margin-box {
  /* -height + 1 */
  margin-top: -23px;
}

.margins-ui-pair.right .margin-box {
  /* -width - 2 */
  margin-left: -58px;
}

.margin-box.invalid {
  background-color: #c11b17;
}

.margins-ui-pair {
  background-color: transparent;
  border-color: transparent;
  position: absolute;
}

.margins-ui-pair.right,
.margins-ui-pair.left {
  cursor: ew-resize;
}

.margins-ui-pair.top,
.margins-ui-pair.bottom {
  cursor: ns-resize;
}

.margins-ui-pair.dragging {
  z-index: 1;
}

.margin-line {
  border-color: #4080FA;
  border-style: dashed;
  border-width: 1px;
  pointer-events: none;
  position: absolute;
}

.margins-ui-pair.top .margin-line,
.margins-ui-pair.bottom .margin-line {
  height: 0;
  left: 0;
  top: 50%;
  width: 100%;
}

.margins-ui-pair.left .margin-line,
.margins-ui-pair.right .margin-line {
  height: 100%;
  left: 50%;
  top: 0;
  width: 0;
}

#customized-margins {
  position: absolute;
  top: 0;
}

#customized-margins.invisible {
  pointer-events: none;
  opacity: 0;
}

/* Copyright (c) 2011 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

/* Header */

header {
  -webkit-padding-start: 16px;
}

#print-preview #navbar-container {
  -webkit-box-orient: vertical;
  -webkit-user-select: none;
  display: -webkit-box;
  width: 310px;
}

#print-preview #navbar-content-title {
  text-align: start;
}

#print-header {
  -webkit-padding-end: 16px;
  font-size: 13px;
  line-height: 22px;
  padding-bottom: 10px;
  padding-top: 10px;
}

#print-summary {
  color: #53637d;
  display: block;
  min-height: 30px;
}

/* Settings */

#settings {
  -webkit-box-flex: 1;
  -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, .3);
  background: white;
  overflow-y: auto;
  padding-top: 2px;
}

label input[disabled] + span,
input[type=text][disabled] {
  color: gray;
}

.two-column {
  display: table-row;
  font-size: 13px;
  line-height: 22px;
}

.right-column {
  -webkit-padding-end: 16px;
  display: table-cell;
  width: auto;
}

.two-column h1 {
  -webkit-padding-start: 16px;
  display: table-cell;
  width: 86px;
}

.two-column.visible h1,
.two-column.visible .right-column {
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 10px;
  padding-top: 10px;
}

.two-column:not(.visible) select {
  border-top-width: 0;
  margin-top: 0;
  padding-top: 0;
}

p {
  -webkit-line-box-contain: block;
  margin: 0;
  margin-bottom: 10px;
}

h1 {
  color: #808080;
  font-size: 100%;
  font-weight: 300;
}

.preview-link-button {
  -webkit-padding-start: 16px;
  outline: 0;
  padding-top: 10px;
  text-decoration: none;
  text-align: start;
}

.preview-link-button:hover:not(:disabled) {
  text-decoration: underline;
}

.preview-link-button:disabled {
  color: rgba(0, 0, 0, .5);
  cursor: default;
  text-shadow: none;
}

button.loading {
  cursor: progress;
}

button.default {
  font-weight: bold;
}

button.default:not(:focus):not(:disabled) {
  border-color: #808080;
}

span.hint {
  -webkit-transition: color 200ms;
  background: white;
  display: block;
  font-size: 11px;
  font-weight: bold;
  height: 0;
  line-height: 10px;
  margin-bottom: 0;
  margin: 0;
  overflow: hidden;
}

span.hint.visible {
  -webkit-animation-duration: 200ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-user-select: text;
  color: #8c1414;
  height: auto;
  margin-bottom: -10px;
  margin-top: 5px;
  padding-bottom: 5px;
}

span.hint.closing {
  -webkit-transition: margin 150ms, height 150ms, opacity 150ms;
  background: transparent;
  height: 0 !important;
  margin-bottom: 0;
  margin-top: 0;
  opacity: 0;
}

.collapsible {
  height: 0;
  overflow: hidden;
}

.collapsible.visible {
  -webkit-animation-duration: 200ms;
  -webkit-animation-fill-mode: forwards;
  height: auto;
}

.collapsible.closing {
  -webkit-transition: margin 150ms, height 150ms, opacity 150ms;
  height: 0 !important;
  opacity: 0;
}

select {
  width: 100%;
}

label {
  -webkit-user-select: none;
}

.hidden-section {
  background: white;
  position: relative;
}

.extra {
  background: white;
  height: 0;
  opacity: 0;
  padding-top: 0;
  position: absolute;
  visibility: hidden;
}

.visible .extra {
  -webkit-animation-duration: 200ms;
  -webkit-animation-fill-mode: forwards;
  height: auto;
  opacity: 1;
  overflow: hidden;
  padding-bottom: 0;
  position: static;
  visibility: visible;
}

.closing .extra {
  -webkit-transition: padding-top 100ms, height 100ms, opacity 200ms,
      background 300ms;
  height: 0 !important;
  opacity: 0;
  overflow: hidden;
  padding-top: 0;
  position: static;
  visibility: visible;
}

/* Individual settings sections  */

#print-pages-div {
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;
  display: -webkit-box;
}

#individual-pages {
  -webkit-box-flex: 1;
  -webkit-margin-start: 5px;
  display: block;
}

#collate-option {
 -webkit-transition: opacity 200ms, -webkit-transform 200ms;
 -webkit-padding-start: 16px;
 display: inline-block;
 opacity: 1;
}

#collate-option[hidden] {
 -webkit-transition: opacity 100ms, -webkit-transform 100ms;
 opacity: 0;
 pointer-events: none;
}

#copies {
  position: relative;
  width: 1.5em;
}

#copies.invalid {
  background: #fff0f0;
  color: #8c1414;
}

#increment,
#decrement {
  -webkit-padding-end: 8px;
  -webkit-padding-start: 8px;
  font-weight: 600;
  min-width: 0;
  position: relative;
  width: 25px;
}

#increment:focus,
#decrement:focus,
#copies:focus {
  z-index: 1;
}

#increment {
  -webkit-margin-start: -5px;
  border-radius: 0;
}

#decrement {
  -webkit-margin-start: -5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 3px;
}

html[dir='rtl'] #decrement {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 0;
}

/* PDF view */

#print-preview #mainview {
  -webkit-margin-start: 310px;
  -webkit-padding-start: 0;
  -webkit-user-select: none;
  background-color: #ccc;
  overflow: hidden;
}

#pdf-viewer {
  /* pluginFadeInTransitionDuration = 200ms */
  -webkit-transition: opacity 200ms linear;
  /* pluginFadeInTransitionDelay = overlayFadeOutTransitionDuration = 100ms */
  -webkit-transition-delay: 100ms;
  height: 100%;
  opacity: 1;
  width: 100%;
}

#pdf-viewer.invisible {
  /* pluginFadeOutTransitionDuration = 100ms */
  -webkit-transition: opacity 100ms linear;
  /* pluginFadeOutTransitionDelay = 250ms */
  -webkit-transition-delay: 250ms;
  opacity: 0;
}

#no-plugin {
  padding: 20px;
}

/* TODO(estade): this should be in a shared location but I'm afraid of the
 * damage it could do. */
[hidden] {
  display: none !important;
}

#overlay-layer {
  -webkit-transition: opacity 200ms linear;
  /* overlayFadeInTransitionDelay = pluginFadeOutTransitionDelay +
   *     pluginFadeOutTransitionDuration = 350ms */
  -webkit-transition-delay: 350ms;
  -webkit-user-select: none;
  background: #cccccc;
  height: 100%;
  margin: 0;
  opacity: 1;
  position: absolute;
  width: 100%;
}

#overlay-layer.invisible {
  /* overlayFadeOutTransitionDuration = 100ms */
  -webkit-transition: opacity 100ms linear;
  opacity: 0;
  pointer-events: none;
}

#messages {
  color: #404040;
  font-size: 13px;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  top: 50%;
}

@-webkit-keyframes dancing-dots-jump {
  0% { top: 0; }
  55% { top: 0; }
  60% { top: -10px; }
  80% { top: 3px; }
  90% { top: -2px; }
  95% { top: 1px; }
  100% { top: 0; }
}

#loading {
  -webkit-margin-end: -3px;
}

.message-with-dots span span {
  -webkit-animation-duration: 1800ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: dancing-dots-jump;
  padding: 1px;
  position: relative;
}

.message-with-dots span span:nth-child(2) {
  -webkit-animation-delay: 100ms;
}

.message-with-dots span span:nth-child(3) {
  -webkit-animation-delay: 300ms;
}

#two-sided-option {
  display: inline-block;
  margin-top: 10px;
}

#error-action-area {
  margin-top: 10px;
}

/* TODO(estade): unfork this code. */
.button-strip {
  -webkit-box-orient: horizontal;
  -webkit-box-pack: end;
  display: -webkit-box;
}

html:not([toolkit=views]) .button-strip {
  -webkit-box-direction: reverse;
}

.button-strip button {
  display: block;
}

/* Copyright (c) 2011 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

button:not(.custom-appearance),
input[type='button']:not(.custom-appearance),
input[type='submit']:not(.custom-appearance) {
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
  border: 1px solid #aaa;
  color: #444;
  font-size: inherit;
  margin-bottom: 0;
  min-width: 4em;
  padding: 3px 12px;
}

button:not(.custom-appearance):hover,
input[type='button']:not(.custom-appearance):hover,
input[type='submit']:not(.custom-appearance):hover {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background: #ebebeb -webkit-linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);
  border-color: #999;
  color: #222;
}

button:not(.custom-appearance):active,
input[type='button']:not(.custom-appearance):active,
input[type='submit']:not(.custom-appearance):active {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  background: #ebebeb -webkit-linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc);
  color: #333;
}

button[disabled]:not(.custom-appearance),
input[type='button'][disabled]:not(.custom-appearance),
input[type='submit'][disabled]:not(.custom-appearance),
button[disabled]:not(.custom-appearance):hover,
input[type='button'][disabled]:not(.custom-appearance):hover,
input[type='submit'][disabled]:not(.custom-appearance):hover {
  -webkit-box-shadow: none;
  background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
  border-color: #aaa;
  color: #888;
}

button:not(.custom-appearance):focus,
input[type='submit']:not(.custom-appearance):focus,
input[type='text']:not(.custom-appearance):focus,
select:not(.custom-appearance):focus {
  -webkit-box-shadow: inset 0 1px 2px white,
      0 1px 2px rgba(0, 0, 0, .2),
      0 0 1px #c0c0c0,
      0 0 1px #c0c0c0,
      0 0 1px #c0c0c0;
  -webkit-transition: border-color 200ms;
  /* We use border color because it follows the border radius (unlike outline).
   * This is particularly noticeable on mac. */
  border-color: #4080fa;
  outline: none;
}

/* Search boxes use an outline because it follows the contours of the box.
 * TODO(estade): remove the first 2 of these selectors when we use checkbox.css
 * in more places. */
html:not(#print-preview) input[type='checkbox']:not(.custom-appearance):focus,
html:not(#print-preview) input[type='radio']:not(.custom-appearance):focus,
input[type='search']:not(.custom-appearance):focus {
  outline-color: #4080fa;
}

/* TODO(jhawkins): Refactor button styling and remove !important here. This is
 * currently necessary because individual page button element selectors have
 * higher specificity.
 */
.link-button,
.link-button:focus,
.link-button:hover {
  -webkit-box-shadow: none !important;
  background: transparent none !important;
  border: none !important;
  color: rgb(63, 110, 194);
  cursor: pointer;
  margin: 0;
  text-decoration: underline;
}

.link-button:active {
  color: rgb(37, 64, 113);
}
/* Copyright (c) 2011 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

input[type='checkbox'] {
  -webkit-box-shadow: inset 0 1px 2px white,
                      0 1px 2px rgba(0, 0, 0, .2);
  -webkit-appearance: none;
  -webkit-margin-start: 0;
  -webkit-margin-end: 3px;
  background: -webkit-linear-gradient(#fafafa, #dcdcdc);
  border-radius: 3px;
  border: 1px solid #a0a0a0;
  display: inline-block;
  height: 16px;
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
  top: 3px;
  vertical-align: baseline;
  width: 16px;
}

input[type='checkbox']:disabled {
  opacity: .75;
}

input[type='checkbox']:not(:disabled):not(:active):hover {
  background: -webkit-linear-gradient(#fff, #e6e6e6);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

input[type='checkbox']:not(:disabled):active {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
  background: -webkit-linear-gradient(#f0f0f0, #bebebe);
  border: 1px solid #808080;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
}

input[type='checkbox']:checked::before {
  color: #808080;
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAYAAABi8KSDAAAAmElEQVR42nXQMQ6EIBAFUI5OQ6TwHibacAIaIx4AbbiAtQGk429wg8lEKX4xzJswwAA0s64rpmlCrZvQGAPO+Z1xHPFgay1Ks8JlWQp6IqWEcw5s33cIIe7DeZ5LXvA4DqSUwPq+J80veF3Xf41t29B1XRPGGOkDtdafMIRwQ4LLNcMwEOi9J5B8Xc4ZSqkmrJgMnOdZ4Ss/HaFLUf+pI9MAAAAASUVORK5CYII=");
  font-size: 13px;  /* Explicitly set the font size so that the positioning
                       of the checkmark is correct. */
  height: 16px;
  left: 2px;
  position: absolute;
}

input[type='radio'] {
  -webkit-box-shadow: inset 0 1px 2px white,
                      0 1px 2px rgba(0, 0, 0, .2);
  -webkit-appearance: none;
  -webkit-margin-start: 0;
  -webkit-margin-end: 3px;
  -webkit-transition: border 500ms;
  background: -webkit-linear-gradient(#fafafa, #dcdcdc);
  border-radius: 100%;
  border: 1px solid #a0a0a0;
  display: inline-block;
  height: 15px;
  margin-bottom: 0;
  position: relative;
  top: 3px;
  vertical-align: baseline;
  width: 15px;
}

input[type='radio']:disabled {
  opacity: .75;
}

input[type='radio']:not(:disabled):not(:active):hover {
  background: -webkit-linear-gradient(#fff, #e6e6e6);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

input[type='radio']:not(:disabled):active {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
  background: -webkit-linear-gradient(#f0f0f0, #bebebe);
  border: 1px solid #808080;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
}

input[type='radio']:checked::before {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  -webkit-margin-start: 4px;
  background: #808080;
  border-radius: 10px;
  content: '';
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  height: 5px;
  left: 0;
  margin-top: 4px;
  opacity: 1;
  position: absolute;
  top: 0;
  vertical-align: top;
  width: 5px;
}

html[dir='rtl'] input[type='radio']:checked::before {
  right: 0;
}

input[type='radio']:active:checked::before {
  background: #606060;
}

/* These rules are copied from button.css */
input[type='checkbox']:not(.custom-appearance):focus,
input[type='radio']:not(.custom-appearance):focus {
  -webkit-box-shadow: inset 0 1px 2px white,
      0 1px 2px rgba(0, 0, 0, .2),
      0 0 1px #c0c0c0,
      0 0 1px #c0c0c0,
      0 0 1px #c0c0c0;
  -webkit-transition: border-color 200ms;
  border-color: #4080fa;
  outline: none;
}

label:hover > input[type=checkbox]:disabled ~ span,
label:hover > input[type=radio]:disabled ~ span {
  color: #888;
}

label:hover > input[type=checkbox]:not(:disabled) ~ span,
label:hover > input[type=radio]:not(:disabled) ~ span {
  color: #222;
}
</style>
<style>/* Styles common to WebUI pages that share the options pages style */
body {
  cursor: default;
  font-size: 13px;
}

a:link {
  color: rgb(63, 110, 194);
}

a:active {
  color: rgb(37, 64, 113);
}

#navbar-content-title {
  -webkit-padding-end: 24px;
  -webkit-user-select: none;
  color: #53637d;
  cursor: pointer;
  font-size: 200%;
  font-weight: normal;
  margin: 0;
  padding-bottom: 14px;
  padding-top: 13px;
  text-align: end;
  text-shadow: white 0 1px 2px;
}

#main-content {
  display: -webkit-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#navbar {
  margin: 0;
}

#navbar-container {
  -webkit-border-end: 1px solid #c6c9ce;
  background: -webkit-linear-gradient(rgba(234, 238, 243, 0.2), #eaeef3),
              -webkit-linear-gradient(left, #eaeef3, #eaeef3 97%, #d3d7db);
  position: fixed;
  bottom: 0;
  /* We set both left and right for the sake of RTL. */
  left: 0;
  right: 0;
  top: 0;
  width: 216px;
  z-index: 2;
}

html[dir='rtl'] #navbar-container {
  background: -webkit-linear-gradient(rgba(234, 238, 243, 0), #EAEEF3),
              -webkit-linear-gradient(right, #EAEEF3, #EAEEF3 97%, #D3D7DB);
}

html.hide-menu #navbar-container {
  display: none;
}

#navbar-container > ul {
  -webkit-user-select: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  color: #426dc9;
  cursor: pointer;
  display: block;
  font-size: 105%;
  outline: none;
  padding: 7px 0;
  text-align: end;
  text-shadow: white 0 1px 1px;
  -webkit-padding-end: 24px;
}

.navbar-item:focus {
  border-bottom: 1px solid #8faad9;
  border-top: 1px solid #8faad9;
}

.navbar-item-selected {
  -webkit-box-shadow: 0px 1px 0px #f7f7f7;
  background: -webkit-linear-gradient(left, #bbcee9, #bbcee9 97%, #aabedc);
  border-bottom: 1px solid #8faad9;
  border-top: 1px solid #8faad9;
  color: black;
  text-shadow: #bbcee9 0 1px 1px;
}

#mainview {
  -webkit-box-align: stretch;
  -webkit-padding-start: 216px;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

html.hide-menu #mainview {
  -webkit-padding-start: 0;
}

#mainview-content {
  min-height: 100%;
  position: relative;
}

#page-container {
  box-sizing: border-box;
  max-width: 888px;
  min-width: 600px;
  padding: 0 24px;
}

div.disabled {
  color: #888;
}

/* TEXT */
input[type='password'],
input[type='text'],
input[type='url'],
input:not([type]) {
  /*-webkit-border-radius: 2px;*/
  border: 1px solid #9a9da4;
  font-size: inherit;
  padding: 3px;
 
}

input[type='text']:disabled {
  color: #888;
}

/* CHECKBOX, RADIO */
/* TODO(estade): all of this should be merged into checkbox.css and then we can
 * remove the print-preview hack. */
div.checkbox,
div.radio {
  margin: 5px 0;
}

input[type=radio] ~ span,
input[type=checkbox] ~ span {
  color: #444;
}

/* Elements that need to be LTR even in an RTL context, but should align
 * right. (Namely, URLs, search engine names, etc.)
 */
html[dir='rtl'] .weakrtl {
  direction: ltr;
  text-align: right;
}

/* Input fields in search engine table need to be weak-rtl. Since those input
 * fields are generated for all cr.ListItem elements (and we only want weakrtl
 * on some), the class needs to be on the enclosing div.
 */
html[dir='rtl'] div.weakrtl input {
  direction: ltr;
  text-align: right;
}

html[dir='rtl'] .favicon-cell.weakrtl {
  -webkit-padding-end: 22px;
  -webkit-padding-start: 0;
}

/* weakrtl for selection drop downs needs to account for the fact that
 * Webkit does not honor the text-align attribute for the select element.
 * (See Webkit bug #40216)
 */
html[dir='rtl'] select.weakrtl {
  direction: rtl;
}

html[dir='rtl'] select.weakrtl option {
  direction: ltr;
}

/* WebKit does not honor alignment for text specified via placeholder attrib.
 * This CSS is a workaround. Please remove once WebKit bug is fixed.
 * https://bugs.webkit.org/show_bug.cgi?id=63367
 */
html[dir='rtl'] input.weakrtl::-webkit-input-placeholder,
html[dir='rtl'] .weakrtl input::-webkit-input-placeholder {
  direction: rtl;
}

.page h1 {
  -webkit-padding-end: 24px;
  -webkit-user-select: none;
  border-bottom: 1px solid #eeeeee;
  color: #53637d;
  font-size: 200%;
  font-weight: normal;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 13px;
  text-shadow: white 0 1px 2px;
}

/* Copyright (c) 2011 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 *
 * This is the generic select css used on various WebUI implementations.
 */

select {
  -webkit-appearance: button;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 8px;
  -webkit-user-select: none;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAWklEQVQokWNgoAOIAuI0PDiKaJMSgYCZmfkbkPkfHYPEQfJEG/b//3+FBQsWLGRjY/uJbBCIDxIHyRNtGDYDyTYI3UA+Pr4vFBmEbODbt2+bKDYIyUBWYtQBAIRzRP/XKJ//AAAAAElFTkSuQmCC"),
                    -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #aaa;
  color: #555;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

html[dir='rtl'] select {
  background-position: center left;
}

select:disabled {
  color: graytext;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sLAxYEBKriBmwAAACLSURBVCjPrZGxDQIxDEUdBKJhh3guCqKwCIEtaBz7Cta4VZIB0tF/2hPkEKfD5ffzk2wT/bHcTH4kosOXuScRPd7DbY+MMe699/c5U631nHP+yDc9WERGZh56PWYeRGRcsiYBYDO7llJOU1EI4eKcK4sPCoBV1VJKUFUDwKs+BIBba7fVoolw9wv3Atp8NoG7Gn9MAAAAAElFTkSuQmCC"),
                    -webkit-linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);
}

select:enabled:hover {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAWklEQVQokWNgoAOIAuI0PDiKaJMSgYCZmfkbkPkfHYPEQfJEG/b//3+FBQsWLGRjY/uJbBCIDxIHyRNtGDYDyTYI3UA+Pr4vFBmEbODbt2+bKDYIyUBWYtQBAIRzRP/XKJ//AAAAAElFTkSuQmCC"),
                    -webkit-linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);
  color: #333;
}

select:enabled:active {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAWklEQVQokWNgoAOIAuI0PDiKaJMSgYCZmfkbkPkfHYPEQfJEG/b//3+FBQsWLGRjY/uJbBCIDxIHyRNtGDYDyTYI3UA+Pr4vFBmEbODbt2+bKDYIyUBWYtQBAIRzRP/XKJ//AAAAAElFTkSuQmCC"),
                    -webkit-linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc);
  color: #444;
}


#miHome, #miSearch, #miExit
{
    height: 70px;
    position: absolute;
    bottom: 14px;
    opacity: 0;
}

#miHome 
{
    width: 61px;
    right: 337px;
}

#miSearch 
{
    width: 75px;
    right: 249px;
}

#miExit
{
    width: 65px;
    right: 7px;
}